*{
    font-family:sans-serif;
}
body{
    font-size: 24px;
}
p:hover{
    font-size:30px;
}
#first>p{
    color: green;
}
#first,#second{
    color:red;
}
.purple{
    color: purple;
    font-family: monospace;
}
.highlight{
    background-color: blue;
    font-weight: bolder;
}