*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 600px;
    border: 2px solid red;
    display: grid;
    /* gap: 10px; */
    row-gap: 20px;
    column-gap: 10px;
    
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: 100px 200px 300px; --- we  can define width with the help of grid-template-columns.
    we can make column by just writing their pixel size --- use view width too */
    /* grid-template-columns: 20% 80%;*/
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(4,  100px); */
    /* grid-template-rows: 200px 80px; -- define height of rows*/
    /* grid-auto-rows:150px  ; */
    /* justify-content:center; */
    /* align-content: center; */
    /* align-items: center; */
    grid-template-areas: "hdr hdr hdr"
    "sbr sbr sbr"
    "main main main"
    "fr fr fr";
}
.box{
    border: 2px solid green;
    padding: 12px;
}
#box-3 {
    background-color: #7aa6bc;
    /* justify-content: end;
    align-self: end; */
    /* grid-column-start: 1;
    grid-column-end: 3; */
    grid-column: 1/-1; 
    grid-row: 1/3;
    grid-area: 1/1/5/2; 
    /* we can define column and row in grid area at once*/ 

}
#box-1{
    grid-area: hdr;
}
#box-2{
    grid-area: sbr;
}
#box-4{
    grid-area: main;
}
#box-5{
    grid-area: fr;
}